#map {
  height: 700px;
  width: 100%;
}

.timelist {
  height: 100px;
  width: 350px;
  border: 1px solid red;
  color: black;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.time-slot {
  font-weight: bold;
}
.available {
  background-color: lightgreen;
}
.unavailable {
  background-color: #ffcccc;
}