body {
  background-color: #f0f2f3;
}

.bg-lightgray {
  background-color: #f0f2f3;
}

.lexend {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.workmate-navy-fill {
  background-color: #344767;
}

.workmate-navy-line {
  border: #344767;
}

.workmate-navy-color {
  color: #344767;
}
.workmate-blue-fill {
  background-color: #5e72e4;
}

.workmate-blue-line {
  border: #5e72e4;
}

.workmate-blue-color {
  color: #5e72e4;
}

.workmate-lightblue-fill {
  background-color: #69b4e4;
}

.workmate-lightblue-line {
  border: #69b4e4;
}

.workmate-lightblue-color {
  color: #69b4e4;
}

.btn:hover {
  background-color: #1e2b41;
}

/* index */

/* Main */

#main img {
  z-index: 999;
}

.nav .profile-img,
.user-profile .profile-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #344767;
  overflow: hidden;
}

.nav img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* map */

#map {
  height: 50vh;
  max-height: 600px;
  width: 100%;
}

.timelist {
  height: 100px;
  width: 350px;
  border: 1px solid red;
  color: black;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
}
.time-slot {
  font-weight: bold;
}
.available {
  background-color: lightgreen;
}
.unavailable {
  background-color: #ffcccc;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.card-header,
.btn {
  background-color: #344767;
}
.btn {
  color: #ffffff;
}